* {
    box-sizing: border-box;
}

body {
    margin: 0px;
    padding: 0;
    font-family: 'segoe ui';
}


/* Navbar */

.nav {
    height: 50px;
    width: 100%;
    background-color: #000;
    position: relative;
    padding-left: 2%;
    padding-right: 2%;
}

.nav .nav-header {
    display: inline;
}

.nav-title img {
    height: 5vh;
    vertical-align: middle;
    margin-top: -5px;
    margin-right: 5px;
}

.nav .nav-header .nav-title {
    display: inline-block;
    font-size: 22px;
    color: #fff;
    padding: 10px 10px 10px 10px;
}

.nav .nav-btn {
    display: none;
}

.nav .nav-links {
    display: inline;
    float: right;
    font-size: 18px;
}

.nav .nav-links a {
    display: inline-block;
    padding: 13px 10px 13px 10px;
    text-decoration: none;
    color: #efefef;
}

.nav .nav-links a:hover {
    color: steelblue;
}

.nav #nav-check {
    display: none;
}

.nav-title span {
    color: #efefef;
    font-size: 14px;
    vertical-align: middle;
}

@media (max-width:600px) {
    .nav .nav-btn {
        display: inline-block;
        position: absolute;
        right: 0px;
        top: 0px;
    }
    .nav .nav-btn label {
        display: inline-block;
        width: 50px;
        height: 50px;
        padding: 13px;
    }
    .nav .nav-btn label:hover,
    .nav #nav-check:checked~.nav-btn>label {
        background-color: rgba(0, 0, 0, 0.3);
    }
    .nav .nav-btn label span {
        display: block;
        width: 25px;
        height: 10px;
        border-top: 2px solid #eee;
    }
    .nav .nav-links {
        position: absolute;
        display: block;
        width: 100%;
        background-color: #333;
        height: 0px;
        transition: all 0.3s ease-in;
        overflow-y: hidden;
        top: 50px;
        left: 0px;
    }
    .nav .nav-links a {
        display: block;
        width: 100%;
    }
    .nav #nav-check:not(:checked)~.nav-links {
        height: 0px;
    }
    .nav #nav-check:checked~.nav-links {
        height: calc(100vh - 50px);
        overflow-y: auto;
    }
}

.name-homepage button {
    padding: 10px;
    width: 25%;
    /* border: 1px solid #efefef; */
    border: none;
    background-color: #3c53b6;
    color: #efefef;
    border-radius: 4px;
    position: relative;
    top: 40%;
    left: 30%;
}

.name-homepage button a {
    color: #efefef;
    text-decoration: none;
}


/* Home-page */


/* .PP {
    color: steelblue;
} */

.container1 {
    display: flex;
    justify-content: space-between;
}

.container1 img {
    height: 90vh;
    width: 50vw;
    position: relative;
    top: 10%;
    right: 15%;
}

.name-homepage h1 {
    position: relative;
    top: 40%;
    left: 30%;
}

.name-homepage p {
    position: relative;
    top: 37%;
    left: 30%;
}

.name-homepage h1 {
    font-family: 'Playfair Display', serif;
    font-weight: 500;
    font-size: 3rem;
}


/* About */

.about,
.why-PP,
.faqs,
.services,
.thankyou,
.contact {
    margin: 0 10%;
}

.about h1,
.why-PP h1,
.faqs h1,
.services h1,
.contact h1 {
    position: relative;
    margin-top: 7%;
    font-family: 'Playfair Display', serif;
    font-size: 2rem;
    font-weight: 500;
    text-align: center;
}

@media (max-width:504px) {
    .about h1 {
        position: relative;
        padding-top: 60%;
        font-family: 'Playfair Display', serif;
        font-size: 2rem;
        font-weight: 500;
        text-align: center;
    }
    .name-homepage button {
        padding: 10px;
        width: 55%;
        margin-bottom: 10%;
    }
    .name-homepage h1 {
        font-size: 1.5rem;
        font-weight: 100;
    }
    .name-homepage p {
        font-size: .8rem;
        font-weight: 50;
        width: 80px;
    }
    .container1 img {
        height: 50vh;
        width: 50vw;
        position: relative;
        top: 45%;
        right: 15%;
    }
}

.services h1 {
    margin-top: 4%;
    padding-bottom: 2%;
}


/* bg-image1 */

.bg-image1 {
    background-image: url('./images/house-main.jpg');
    height: 40vh;
    width: 100%;
    margin-top: 4%;
    position: relative;
    opacity: 0.8;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}


/* Services */

.services .box {
    /* margin: 5%; */
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.services .box .service {
    /* border: 1px solid #a5a3a3; */
    border: 1px solid #efefef;
    ;
    width: 250px;
    margin-bottom: 2%;
    padding: 15px;
    text-align: center;
    border-radius: 4px;
}

.services .box .service:hover {
    /* background-color: #efefef; */
    background-color: rgba(45, 56, 211, 0.103);
}

.services a {
    text-decoration: none;
    color: black;
}

.services a h2 {
    font-weight: 400;
}

.services a button {
    padding: 10px;
    width: 55%;
    /* border: 1px solid #efefef; */
    border: none;
    background-color: #3c53b6;
    color: #efefef;
    border-radius: 4px;
    margin-bottom: 1rem;
}


/* Contact Us */

.contact {
    /* background-color: rgb(77, 123, 161); */
    background-color: rgba(45, 56, 211, 0.103);
    width: 100%;
    margin: 0;
    padding: 0;
    height: fit-content;
    color: black;
}

.contact h1 {
    padding-top: 2rem;
}

.contact p {
    width: 43vw;
    text-align: center;
    margin-left: 28%;
    line-height: 25px;
}

.contact img {
    text-align: center;
    margin-left: 48%;
    padding-bottom: 2rem;
}


/* Footer */

footer {
    background-color: black;
    color: #efefef;
    height: 6%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 100%;
}

footer p {
    font-size: 12px;
    font-family: 'Nunito', serif;
}