body {
    margin: 0;
    padding: 0;
}

.logo img {
    width: 10vh;
    text-align: center;
    position: absolute;
    top: 27vh;
    left: 50%;
    transform: translate(-50%, -50%);
}

.container h1 {
    text-align: center;
    position: absolute;
    top: 38vh;
    left: 50%;
    transform: translate(-50%, -50%);
}

.user,
.organisation {
    border: 1px solid #a5a3a3;
    width: 23vw;
    padding: 18px;
    font-family: 'Nunito', serif;
    text-align: center;
    border-radius: 4px;
}

.text {
    position: absolute;
    top: 55vh;
    left: 50%;
    transform: translate(-50%, -50%);
}

a {
    font-size: 1.2rem;
    text-decoration: none;
    color: black;
}

.user:hover,
.organisation:hover {
    background-color: #efefef;
}

footer {
    background-color: black;
    color: #efefef;
    height: 6%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 94vh;
    width: 100%;
}

footer p {
    font-size: 12px;
    font-family: 'Nunito', serif;
}
.nav{
    background: white;
    height: fit-content;
    width: fit-content;
    border-radius: 2px;
}
.nav p{
    color: black;
    font-size: 100%;
}
.nav p a{
    font-size: 200%;
}